.app {
  height: 99.8vh;
  text-align: center;
  background: url(./img/pattern.svg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  /* border: 1px solid green; */
}

/* ******************* HEADER ******************** */
/* ******************* HEADER ******************** */
.map-header {
  background-color: #E66919;
  height: 58px;
  color: #423B3A;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 21px 6px rgba(0,0,0,0.75);
  font-family: 'Poor Story', cursive;
  font-size: 1.5em;
  z-index: 3;
}

.map-title {
  font-size: 1.5em;
}

/* **************** MAP CONTAINER *************** */
/* **************** MAP CONTAINER *************** */
.map {
  height: 86vh;
  margin-left: 310px;
  margin-right: 22px;
  margin-top: 32px;
  margin-bottom: 32px;
  background: rgba(230, 104, 25, 0.276);
  z-index: 1;
  border: 1px solid rgb(52, 46, 45);
  border-radius: 5px;
  box-shadow: 2px 6px 12px -2px rgba(0,0,0,0.75);
}

/* ******************* SIDEBAR  ****************** */
/* ******************* SIDEBAR  ****************** */
.sidebar {
  margin-top: 30px;
  margin-bottom: 32px;
  width: 280px;
  left: 0;
  height: 86.6vh;
  position: fixed;
  background-color: rgb(52, 46, 45);
  box-shadow: 4px 6px 21px -1px rgba(0,0,0,0.75);
  color: rgb(233, 233, 233);
  padding-right: 5px;
  z-index: 2;
  border-radius: 0 12px 12px 0;
}

.places-heading {
  background: rgba(250, 140, 61, 0.445);
  height: 35px;
  margin-top: -20px;
  margin-bottom: 12px;
  border-radius: 0 12px 0 0;
  width: 285px;
  box-shadow: inset 2px -6px 8px -5px rgba(0,0,0,0.75);
}

.places-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #FA8D3D;
  /* color: #2B2525; */
 }

.places-list > li {
  text-align: start;
  transition: all .3s ease-in-out;
  cursor: pointer;
  padding: 12px 0;
  text-transform: uppercase;
  padding-left: 6px;
  /* box-shadow: 3px 6px 12px -2px rgba(0,0,0,0.5); */
  background-color: #423B3A;
  margin: 1px 0 1px 0;
  border-radius: 0 0 6px 0;
}

.places-list > li:hover {
  transform: scale(1.025);
  background-color: #FA8D3D;
  padding-left: 11px;  
}

.cusine-select select {
  background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; 
   width: 235px;
   border-radius: 5px;
   background-color: rgb(129, 121, 118);
   margin-bottom: 12px;
}

/* **************** MARKER *********************** */
/* **************** MARKER *********************** */
.marker {
  backface-visibility: hidden;
  perspective: 1000px;
  height: 48px;
  width: 30px;
  background-image: url('https://image.ibb.co/h3WHsy/map_marker_hi.png');
  transform: translate(-15px, -48px);
  cursor: pointer;
}
.marker.bounce {
  animation: bounce 0.5s cubic-bezier(.17,.67,.83,.67);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes drop {
  from { transform: translate(-15px, -98px); }
  to   { transform: translate(-15px, -48px);  }
}

@keyframes bounce {
  from { transform: translate(-15px, -48px);  }
  to   { transform: translate(-15px, -55px);  }
}

.infoWindow {
  opacity: 0.99;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  color: whitesmoke;
  padding: 0 19px;
  max-height: 80px;
  min-width: 200px;
  background-color: #423B3A;
  transform: translate(-38px, -155px);
  border-top: 6px solid #AB3D04;
  border-radius: 5px;
  box-shadow: 12px -7px 26px -4px rgba(0,0,0,0.75);
  letter-spacing: 1px;
  z-index: 999;
}

.infoWindow:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 30px;
  border-top: solid 25px #423B3A;
  border-left: solid 10px transparent;
  border-right: solid 20px transparent;
}

.infoWindow p {
  color: #a55e5e;

}
